/* General body styles */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1A1A1A; /* Dark background */
    color: #D3D3D3; /* Light gray text */
}

/* Header and logo */
header {
    background-color: #003366; /* Navy blue */
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo img {
    max-width: 120px;  /* Adjust as necessary */
    height: 120px;      /* Keeps the aspect ratio intact */
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #D3D3D3; /* Light gray */
    text-decoration: none;
    font-weight: 500;
    text-transform: uppercase;
}

nav ul li a:hover {
    color: #00BFFF; /* Accent color */
}

/* Main content section */
.main-content {
    text-align: center;
    padding: 50px 20px;
    background-color: #2A2A2A; /* Black */
}

.main-content h1 {
    font-size: 3rem;
    color: #00BFFF; /* Accent color */
}

.main-content p {
    font-size: 1.5rem;
    color: #D3D3D3;
}

/* Footer */
footer {
    background-color: #003366; /* Navy blue */
    padding: 10px;
    text-align: center;
    color: #D3D3D3;
}

footer p {
    font-size: 1rem;
    margin: 0;
}
#contact-form {
    background-color: #1f1f1f; /* Dark background */
    color: #fff;               /* White text */
    padding: 20px;
    border-radius: 8px;
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
}

#contact-form h1 {
    color: #3f8a91;  /* Navy Blue */
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 4px;
    background-color: #2a2a2a; /* Darker input background */
    color: #fff;
}

button {
    background-color: #3f8a91; /* Navy Blue */
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #1f6f76; /* Darker Navy Blue */
}
